html,body {
    height:100%;
    width:100%;
    margin:0;
}

.ajax
{
    width: 30%;
    height: 25%;
    background-color: rgb(167, 138, 127, 0.3);
    border-radius: 20px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

form
{
    width: 25%;
    margin:auto;
    /* border: 2px; */
    border: 2px solid #00b4d8;
    padding: 30px;
    border-radius: 20px;
    background-color: #90e0ef;
}

h2, h3, h4
{
    text-align: center;
}
h2
{
    color: #8c1c13;
}

h4
{
    color: #bf4342;
}

a
{
    color: #8c1c13;
}

.form-control
{
    margin-bottom: 20px;
}

.center-button
{
    display: flex;
    justify-content: center;
}
